<template>
  <router-view></router-view>
</template>

<script>
//protect all children routs
//access only if user is entreprise or admin
export default {
  name: 'EntrepriseLayout',
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (!vm.$store.getters.isEntreprise && !vm.$store.getters.isAdmin) {
        vm.$router.push({ name: "back_dashboard" });
      }
    });
  },
}
</script>
