<template>
  <v-container>
    <v-text-field
      v-if="loading"
      color="primary"
      loading
      disabled
    ></v-text-field>
    <v-row v-if="!loading">
      <v-col cols="12" sm="8">
        <v-card class="mb-5">
          <v-card-title>
            Détails de l'événement
          </v-card-title>
          <v-card-text>
            <p>Nom : {{ this.$data.mission.name }}</p>
            <p>Nombre max de postulation: {{ this.$data.mission.peopleLimit }}</p>
            <p>Date missions :
              {{ dateToString(formatDate(this.$data.mission.startDate)) }} -
              {{ dateToString(formatDate(this.$data.mission.endDate)) }}
            </p>
            <p>Description : {{ this.$data.mission.description }}</p>
          </v-card-text>
        </v-card>
        <v-card class="mb-5">
          <v-card-title>
            Informations sur le client
          </v-card-title>
          <v-card-text>
            <p>{{ this.$data.mission.rent.owner.email }}</p>
            <p>{{
                (this.$data.mission.rent.owner.fullName || `${this.$data.mission.rent.owner.lastname} ${this.$data.mission.rent.owner.firstname}`)
              }}</p>
            <p>{{ this.$data.mission.rent.owner.phone }}</p>
          </v-card-text>
        </v-card>
        <v-card v-if="this.$data.mission.rent.services && this.$data.mission.rent.services.length > 0" class="mb-5">
          <v-card-title>
            Services choisis
          </v-card-title>
          <v-card-text>
            <ul>
              <li v-for="item in this.$data.mission.rent.services" :key="item['@id']">
                {{ `${item.name} - ${item.price}€` }}
              </li>
            </ul>
          </v-card-text>
        </v-card>
        <v-card class="mb-5">
          <v-card-title>
            Montant
          </v-card-title>
          <v-card-text>
            <p>Ce que vous gagnez : {{
                getTotalPriceRent(formatDate(mission.rent.startDate), formatDate(mission.rent.endDate), mission.rent.home.price)
              }} €</p>
            <p>Montant des services : {{ getTotalService }} €</p>
            <p class="text-h6">Total : {{
                getTotalPriceRent(formatDate(mission.rent.startDate), formatDate(mission.rent.endDate), mission.rent.home.price) + getTotalService
              }} €</p>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="4">
        <div class="text-right mb-5">
          <v-chip
            v-if="mission.status !== 'CREATED'"
            :color="mission.status !== 'CREATED' ? mission.status === 'APPROVED' ? 'success' : 'error' : 'primary'"
          >
            {{
              mission.status !== "CREATED" ? mission.status === "APPROVED" ? "Approuvé" : "Rejeté" : "En attente de validation"
            }}
          </v-chip>
        </div>
        <v-row class="mb-5" v-if="mission.status === 'CREATED'">
          <v-col cols="12" sm="6" class="py-0">
            <v-btn color="success" block v-on:click="approveMission(true)">
              Approuvé
            </v-btn>
          </v-col>
          <v-col cols="12" sm="6" class="py-0">
            <v-btn color="error" block v-on:click="approveMission(false)">
              Rejeter
            </v-btn>
          </v-col>
        </v-row>
        <p v-if="mission.rentDate">Deadline :
          {{ formatDate(mission.rent.startDate) }} -
          {{ formatDate(mission.rent.endDate) }}</p>
        <HomeCard :full-height="false" :home="mission.rent.home" :show-action="false"/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {getFilePerEndpoint, getTotalPriceRent} from "@/utils";
import {mapGetters, mapMutations} from "vuex";
import HomeCard from "@/components/Admin/Home/HomeCard";
import {parseISO, isDate, format} from "date-fns";

export default {
  name: "MissionEdit",
  components: {
    HomeCard,
  },
  data: () => ({
    loading: true,
    mission: null,
    errorsApi: {},
  }),
  computed: {
    ...mapGetters(["getEndpointLabel"]),
    getTotalService: function () {
      return this.mission.rent.services.reduce((acc, value) => {
        acc += value.price;
        return acc;
      }, 0);
    },
  },
  created() {
    const missionId = this.$route.params.id;
    const action = getFilePerEndpoint(this.getEndpointLabel, "mission");
    action.getMission(missionId, this.$apollo).then((mission) => {
      this.$data.mission = mission;
      this.$data.loading = false;
    });
  },
  methods: {
    ...mapMutations(["addFlashMessage"]),
    getTotalPriceRent(start, end, price) {
      return getTotalPriceRent(start, end, price);
    },
    formatDate(date) {
      return isDate(date) ? date : parseISO(date);
    },
    dateToString(date) {
      return format(date, "dd/MM/yyyy");
    },
    approveMission(value) {
      console.log("ok");
      console.log(value);
      const action = getFilePerEndpoint(this.getEndpointLabel, "event");
      action.updateStatus({
        status: value ? "APPROVED" : "REJECTED",
        id: this.mission.id,
      }, this.$apollo)
        .catch((err) => {
          console.log(err);
        })
        .then(() => {
          this.addFlashMessage({type: "success", message: "L'événement a été " + (value ? "approuvé" : "rejeté")});
          this.$router.push({name: "back_mission"});
        });
    },
  },
};
</script>

<style scoped>
</style>
