<template>
  <EntityList
    :headers="headers"
    :title="isAdmin ? 'Gestion des missions': 'Gestion de mes missions'"
    :get-entity-action="getMissionsAction"
    :path-to-edit="pathToEdit"
  />
</template>

<script>
import EntityList from "@/layout/EntityList";
import {mapGetters} from "vuex";

export default {
  name: "MissionList",
  computed: {
    ...mapGetters([
      "isAdmin",
      "isEntreprise",
      "getUser",
      "getEndpointLabel"
    ]),
  },
  created() {

  },
  data: () => ({
    headers: [
      {text: "Nom", value: "name"},
      {text: "Personne maximum", value: "peopleLimit"},
      {text: "Description", value: "description"},
      {text: "Date de début", value: "startDate"},
      {text: "Date de fin", value: "endDate"},
      {text: "Status", value: "status"},
      {text: "Actions", value: "actions", sortable: false},
    ],
    pathToAdd: {name: "back_mission_new"},
    pathToEdit: {name: "back_mission_edit"},
    getMissionsAction: {
      filename: "mission",
      actionName: "getMissions",
    },
  }),
  components: {
    EntityList,
  },
};
</script>

