<template>
  <EntityList
    :headers="headers"
    :title="isAdmin ? 'Gestion des missions': 'Gestion de mes missions ajouté'"
    :props-items="homes"
    :path-to-add="pathToAdd"
    :get-entity-action="getHomesAction"
    :path-to-edit="pathToEdit"
    :delete-entity-action="deleteHomeAction"
    :display-title="displayTitle"
  />
</template>

<script>
import EntityList from "@/layout/EntityList";
import {mapGetters} from "vuex";

export default {
  name: "HomeList",
  props: {
    homes: {
      type: Array,
      required: false,
    },
    displayTitle: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    ...mapGetters([
      "isAdmin",
      "getEndpointLabel",
      "getUser"
    ]),
  },
  created() {
    if(this.getEndpointLabel === 'prisma' && !this.isAdmin) {
      let params = {};
      params = {
        where: {
          owner: {
            id: this.getUser['id']
          }
        }
      }
      this.$data.getHomesAction = {
        ...this.$data.getHomesAction,
        params
      }
    }
  },
  data: () => ({
    headers: [
      { text: "Nom MISSION", value: "name" },
      { text: "Localisation", value: "type" },
      { text: "TJM", value: "price" },
      { text: "Ville", value: "city" },
      { text: "Pays", value: "country" },
      { text: "Status", value: "status" },
      { text: "Créé le", value: "createdAt" },
      { text: "Actions", value: "actions", sortable: false },
    ],
    pathToAdd: { name: "back_home_new" },
    pathToEdit: { name: "back_home_edit" },
    getHomesAction: {
      filename: "home",
      actionName: "getHomes",
    },
    deleteHomeAction: {
      filename: "home",
      actionName: "deleteHome",
    },
  }),
  components: {
    EntityList,
  },
};
</script>

