<template>
  <v-navigation-drawer
    permanent
    class="sidebar"
  >
    <v-list dense>

      <v-list-item :to="{name: 'back_dashboard'}">
        <v-list-item-icon>
          <v-icon>mdi-view-dashboard</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Dashboard</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item v-if="isAdmin" :to="{name: 'back_user'}">
        <v-list-item-icon>
          <v-icon>mdi-account-group-outline</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Utilisateurs</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item v-if="isAdmin || isEntreprise" :to="{name: 'back_home'}">
        <v-list-item-icon>
          <v-icon>mdi-puzzle</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Missions</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item v-if="isAdmin || isEntreprise" :to="{name: 'back_rent'}">
        <v-list-item-icon>
          <v-icon>mdi-home-city</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Locations</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item v-if="isAdmin" :to="{name: 'back_service'}">
        <v-list-item-icon>
          <v-icon>mdi-database-plus</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Demande supplémentaires</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item v-if="isAdmin" :to="{name: 'back_option'}">
        <v-list-item-icon>
          <v-icon>mdi-code-array</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Options</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item :to="{name: 'back_mission'}">
        <v-list-item-icon>
          <v-icon>mdi-account-network</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Missions en ligne</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

    </v-list>

  </v-navigation-drawer>
</template>

<script>
  import {mapGetters} from "vuex";

  export default {
    name: "Sidebar",
    computed: {
      ...mapGetters([
        "isAdmin",
        "isEntreprise",
        "getUser"
      ]),
    },
    data() {
      return {
        drawer: true,
        mini: true,
      }
    },
  };
</script>

<style scoped>
  .sidebar {
    padding-top: 5rem;
    min-width: 250px;
    max-width: 250px;
    height: 100vh !important;
  }
</style>
