<template>
  <section class="section-text py-10">
    <v-container class="text-center">
      <h2 class="mb-5 white--text text-h3 font-weight-bold">
        {{ content }}
      </h2>

    </v-container>
  </section>
</template>

<script>
export default {
  name: "TextSection",
  props: {
    content: String,
  },
};
</script>

<style scoped>
.section-text {
  background-color: orange;
}
</style>
