
<template>
  <div>

    <section class="py-5">
      <v-container>
        <h3 class="text-h3 text-center">Evénements à venir</h3>
        <GridCardLoader :is-loading="isLoading"/>
        <v-row v-if="!isLoading">
          <v-col v-for="(mission, index) in missions" :key="index" md="4" sm="6">
            <MissionCard :mission="mission"/>
          </v-col>
        </v-row>
        <p class="text-center" v-if="missions.length === 0">Il n'y a pas d'événement à venir</p>
      </v-container>
    </section>
  </div>
</template>
<script>
import MissionCard from "../Mission/MissionCard";
import { getFilePerEndpoint } from "@/utils";
import { mapGetters } from "vuex";
import GridCardLoader from "@/components/GridCardLoader";
export default {
  name: "Dashboard",
  components: {
    GridCardLoader,
    MissionCard,
  },
  computed: {
    ...mapGetters(["getEndpointLabel"]),
  },
  data: () => ({
    missions: [],
    isLoading: true,
  }),
  created () {
    const action = getFilePerEndpoint(this.getEndpointLabel, "mission");
    let startDate = new Date();
    startDate.setDate(startDate.getDate());
    action
      .getMissions(
        {
          startDate: {
            after: startDate,
          },
          status: "APPROVED",
        },
        this.$apollo,
      )
      .then((result) => {
        this.$data.missions = result["hydra:member"]
          ? result["hydra:member"]
          : result;
      })
      .then(() => (this.$data.isLoading = false));
  },
};
</script>

<style scoped>
header {
  background-image: url("../../../assets/images/header-image.jpeg");
  background-size: cover;
  background-position: center;
}
.min-vh-70 {
  min-height: 70vh;
}
.banner-search .btn i {
  margin-right: 8px;
  color: white;
}
h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 19px;
  margin-top: 6px;
}
.description {
  font-size: 15px;
  line-height: 24px;
}
.footer-list {
  padding: 0;
}
.footer-list li {
  color: #242526;
  font-size: 15px;
  margin-bottom: 15px;
  list-style: none;
}
.footer-list i {
  color: #3f51b5;
  font-size: 16px;
  margin-right: 12px;
}
.footer-list li a {
  color: #242526;
  box-shadow: none;
  text-decoration: none;
}
.footer-social {
  margin-top: 34px;
}
.footer-social a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  float: left;
  box-shadow: none;
  text-decoration: none;
  border: 1px solid #e0e1e6;
  color: #838488;
  border-radius: 50px;
}
.footer-social a:not(:first-child) {
  margin: 0 3px 0 11px;
}
</style>