<template>
  <div>
    <header>
      <v-container class="d-flex flex-column justify-center min-vh-70">
        <h1 class="text-h2 white--text font-weight-bold mb-5">Qui sommes - nous ?</h1>

      </v-container>
    </header>
    <section class="py-5">
      <v-container>
        <h3 class="text-h3 text-center">Nous voulons être là pour vous !</h3>
        <br>
        <v-row v-if="!isLoading">
          <v-col v-for="(mission, index) in missions" :key="index" md="4" sm="6">

          </v-col>
        </v-row>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat urna neque, id tincidunt magna efficitur dignissim. Vestibulum aliquam, libero sit amet gravida maximus, mi tortor tincidunt elit, sed rhoncus augue felis ut arcu. Mauris egestas velit a nisl mollis, in cursus quam viverra. Cras sed mauris semper, varius mi non, porta neque. Etiam at scelerisque turpis, nec mattis erat. Fusce lobortis eget metus vel maximus. Etiam in nulla vel massa tristique condimentum eget eget ante. Etiam at maximus turpis, at consectetur magna. Maecenas aliquet orci at condimentum eleifend. Sed efficitur, dui vel mollis convallis, est nisi condimentum lectus, id varius massa nisl eu lorem.</p>
      </v-container>
    </section>
    <section class="py-5">
      <v-container>
        <v-row class="d-flex justify-center">

          <v-col md="3">
            <div class="footer-social">
              <a href="">
                <v-icon>mdi-facebook</v-icon>
              </a>
              <a href="">
                <v-icon>mdi-twitter</v-icon>
              </a>
              <a href="">
                <v-icon>mdi-linkedin</v-icon>
              </a>
              <a href="">
                <v-icon>mdi-instagram</v-icon>
              </a>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </section>
  </div>
</template>

<script>
import TextSection from "@/layout/TextSection";
import { getFilePerEndpoint } from "@/utils";
import { mapGetters } from "vuex";

export default {
  name: "Nous",
  computed: {
    ...mapGetters(["getEndpointLabel"]),
  },
  data: () => ({
    missions: [],
    isLoading: true,
  }),
  created () {
    const action = getFilePerEndpoint(this.getEndpointLabel, "mission");
    let startDate = new Date();
    startDate.setDate(startDate.getDate());
    action
      .getEvents(
        {
          startDate: {
            after: startDate,
          },
          status: "APPROVED",
        },
        this.$apollo,
      )
      .then((result) => {
        this.$data.missions = result["hydra:member"]
          ? result["hydra:member"]
          : result;
      })
      .then(() => (this.$data.isLoading = false));
  },
};
</script>

<style scoped>
header {
  background-image: url("../../../assets/images/header-image.jpeg");
  background-size: cover;
  background-position: center;
}

.min-vh-70 {
  min-height: 70vh;
}

.banner-search .btn i {
  margin-right: 8px;
  color: white;
}

h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 19px;
  margin-top: 6px;
}

.description {
  font-size: 15px;
  line-height: 24px;
}

.footer-list {
  padding: 0;
}

.footer-list li {
  color: #242526;
  font-size: 15px;
  margin-bottom: 15px;
  list-style: none;
}

.footer-list i {
  color: #3f51b5;
  font-size: 16px;
  margin-right: 12px;
}

.footer-list li a {
  color: #242526;
  box-shadow: none;
  text-decoration: none;
}

.footer-social {
  margin-top: 34px;
}

.footer-social a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  float: left;
  box-shadow: none;
  text-decoration: none;
  border: 1px solid #e0e1e6;
  color: #838488;
  border-radius: 50px;
}

.footer-social a:not(:first-child) {
  margin: 0 3px 0 11px;
}
</style>
