<template>
  <v-container class="mt-5">
    <v-tabs
      v-model="tab"
      background-color="transparent"
      grow
    >
      <v-tab>Mes Mises en ligne</v-tab>
      <v-tab>Mission ulterieur</v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item>
        <EntityList
          :headers="headers"
          title="Demande de mise en ligne"
          :get-entity-action="getMissionsAction"
          :delete-entity-action="deleteMissionAction"
          :path-to-show="pathToShow"
        />
      </v-tab-item>
      <v-tab-item>
        <EntityList
          :headers="headersMissionUsers"
          title="missions postuler"
          :get-entity-action="getMissionUsersAction"
          :delete-entity-action="deleteMissionUserAction"
          key-object="mission"
          key-object-to-delete="deleteId"
          :path-to-show="pathToShow"
        />
      </v-tab-item>
    </v-tabs-items>
  </v-container>
</template>

<script>
import EntityList from "@/layout/EntityList";
import { mapGetters } from "vuex";

export default {
  name: "MissionList",
  computed: {
    ...mapGetters([
      "isAdmin",
      "isEntreprise",
      "getUser",
    ]),
  },
  created () {
    this.$data.getMissionsAction = {
      ...this.$data.getMissionsAction,
      params: {
        "isEntreprise": this.isEntreprise,
        "rent.owner": this.getUser ? this.getUser["id"] : null,
      },
    };
    this.$data.getMissionUsersAction = {
      ...this.$data.getMissionUsersAction,
      params: {
        "userId": this.getUser ? this.getUser["id"] : null,
      },
    };
  },
  data: () => ({
    headers: [
      { text: "Nom", value: "name" },
      { text: "Personne maximum", value: "peopleLimit" },
      { text: "Description", value: "description" },
      { text: "Date de début", value: "startDate", sortable: false },
      { text: "Date de fin", value: "endDate", sortable: false },
      { text: "Status", value: "status", translate: true },
      { text: "Actions", value: "actions", sortable: false },
    ],
    headersMissionUsers: [
      { text: "Nom", value: "name" },
      { text: "Description", value: "description" },
      { text: "Date de début", value: "startDate", sortable: false },
      { text: "Date de fin", value: "endDate", sortable: false },
      { text: "Actions", value: "actions", sortable: false },
    ],
    getMissionsAction: {
      filename: "mission",
      actionName: "getMissions",
    },
    deleteMissionAction: {
      filename: "mission",
      actionName: "deleteMission",
    },
    getMissionUsersAction: {
      filename: "missionUser",
      actionName: "getMissionUsers",
    },
    deleteMissionUserAction: {
      filename: "missionUser",
      actionName: "deleteMissionUser",
    },
    pathToShow: { name: "front_missions_show" },
    tab: 0,
  }),
  components: {
    EntityList,
  },
};
</script>

