<template>
  <v-card height="100%" class="d-flex flex-column justify-space-between">
    <template slot="progress">
      <v-progress-linear
        color="deep-purple"
        height="10"
        indeterminate
      ></v-progress-linear>
    </template>

    <img
      alt="mission image"
      width="100%"
      height="250"
      v-bind:src="getMainPicture"
    />

    <v-card-title>{{ mission.name }}</v-card-title>

    <v-card-text class="align-content-lg-space-between">
      <span class="subtitle-1">
          Du {{ formatDate(mission.startDate) }} au {{ formatDate(mission.endDate) }}
        </span>
      <p class="subtitle-2 font-weight-light">Adresse: {{ mission.rent.home.address }} </p>
      <div class="grey--text">{{ mission.missionUsers.length }} participants</div>
      <div class="mt-2">{{ mission.description }}</div>
      <v-divider class="my-2"></v-divider>
      <div class="text-h6 black--text">Services proposées</div>
      <v-chip-group column>
        <v-chip color="warning" outlined small v-for="(option, index) in getOptions" :key="index">
          {{ option.name }}
        </v-chip>
      </v-chip-group>
    </v-card-text>

    <v-card-actions v-if="!isOwner" class="justify-end">
      <v-btn color="primary" :disabled="subscribe || alreadySubscribe(mission)" @click="signToMission(mission)">
        {{ subscribe || alreadySubscribe(mission) ? "Déjà inscrit" : "Je m'inscris" }}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import {formatDate, getFilePerEndpoint} from "@/utils";
import {mapGetters, mapMutations} from "vuex";

export default {
  name: "MissionCard",
  props: {
    mission: Object,
  },
  data: () => ({
    subscribe: false,
  }),
  methods: {
    ...mapMutations(["addFlashMessage"]),
    formatDate,
    alreadySubscribe(mission) {
      if (!this.getUser) {
        return false;
      }
      return !!mission.missionUsers.some(e => e.user.id === this.getUser.id);
    },
    signToMission: function (mission) {
      if (!this.getUser) {
        this.addFlashMessage({
          type: "info",
          message: "Merci de vous connecter pour vous inscrire à un événement",
        });
        this.$router.push({name: "front_signin"});
      } else {
        if (!this.alreadySubscribe(mission)) {
          const action = getFilePerEndpoint(this.getEndpointLabel, "missionUser");
          action
            .createMissionUser({
              user: this.getEndpointLabel === 'api-platform' ?  this.getUser["@id"]: null,
              mission: mission["@id"] ? mission["@id"] : mission["id"]
            }, this.$apollo)
            .then((result) => {
              this.$data.subscribe = true;
              this.addFlashMessage({
                type: "info",
                message: `Vous êtes bien inscrits à l'événement ${mission.name}`,
              });
            })
            .then(() => (this.$data.isLoading = false));
        }
      }
    },
  },
  computed: {
    ...mapGetters(["getUser", "getEndpointLabel"]),
    getMainPicture: function () {
      if (this.$props.mission.rent && this.$props.mission.rent.home) {
        const pictures = this.$props.mission.rent.home.pictures.filter(
          (picture) => picture.isMainPicture,
        );
        return pictures[0].image;
      }
      return null;
    },
    getOptions: function () {
      if (this.$props.mission.rent && (this.$props.mission.rent.services || this.$props.mission.rent.rentService)) {
        const services = this.$props.mission.rent.services
          ? this.$props.mission.rent.services
          : this.$props.mission.rent.rentService;
        const options = this.$props.mission.rent.home.options
          ? this.$props.mission.rent.home.options
          : this.$props.mission.rent.home.homeOption;
        return [...services, ...options];
      }
      return [];
    },
    isOwner: function (){
      return this.$props.mission.rent.owner.id === this.getUser?.id;
    }
  },
};
</script>

<style scoped>
</style>
